
#main.inner {
	max-width: 960px;
	padding: 0;
	margin: 0 auto;
}

.contBox {
	margin: 0;
}

.txtBox {
	margin-bottom: 50px;
}

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;

	
	border: 0;
}

.contactForm dt {
	display: block;
	margin-bottom: 3px;
	font-size: 13px;
}
.contactForm dt span.required {
	margin-left: 10px;
	padding: 1px 3px;
	background-color: #f45555;
	font-size: 10px;
	color: #FFFFFF;
}
.contactForm dd {
	margin-bottom: 15px;
}
.contactForm dd.w01 input {
	width: 350px;
	height: 20px;
	font-size: 16px;
	border: 1px solid #bbbbbb;
}
.contactForm dd.w02 textarea {
	width: 400px;
	font-size: 16px;
	border: 1px solid #bbbbbb;
}
input.submitBtn {
	width: 228px;
	height: 54px;
	margin-top: 20px;
	cursor: pointer;
	background-color: #8e8e8e;
	border: none;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}