.socialBtn {
	position: absolute;
	top: 112px;
	right: 10px;
}
.socialBtn li {
	display: inline;
	margin-right: 14px;
}
.socialBtn li.last {
	margin-right: 0;
}
.socialBtn img {
	width: 22px;
	height: 22px;
}
